---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Bwlee42">
  <section class="home">
    <h1>Bwlee42's Archive</h1>
    <p>어떤 사람이 아무거나 적는 공간입니다. 편하게 살펴보세요.</p>
  </section>
</BaseLayout>
