---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Bwlee42">
  <section class="home">
    <h1>Bwlee42's Archive</h1>
    <p>물리와 공학에 관심이 많은 학생이 생각들을 기록해두는 서재입니다. 자유롭게 살펴보세요.</p>
  </section>
</BaseLayout>
