import { Icon } from "astro-icon/components";

<aside class="profile-sidebar">
  <img src="/images/라이트형제.png" alt="profile image" />
  <strong>김주원</strong>
  <span>Kim Juwon</span>
  <p>이상한 사람입니다.<br>조심하세요.</p>
  <div class="links">
    <a href="/about">About</a>
    <a href="https://github.com/kimjuwon311"><Icon name="mdi:github" /></a>
    <a href="mailto:sk92629915@gmail.com"><Icon name="mdi:email-outline" /></a>
  </div>
</aside>
